openapi: 3.1.0
info:
  title: Lyfe Task API
  version: 1.1.0
  description: Read, add, and modify Lyfe tasks. Delete is intentionally unsupported.
servers:
  - url: https://us-west2-lyfe-cacf7.cloudfunctions.net/taskApi
security:
  - LyfeApiKey: []
paths:
  /:
    get:
      operationId: getDueTasks
      summary: Get tasks due on or before a date
      description: Returns tasks for the authenticated person plus shared All tasks. Do not call repeatedly unless the user asks for refreshed data.
      parameters:
        - name: through
          in: query
          required: false
          description: Inclusive date in YYYY-MM-DD format. Omit for today.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Due tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner: { type: string }
                  through: { type: string }
                  count: { type: integer }
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        type: { type: string, enum: [todo, repeating, contact, birthday] }
                        name: { type: string }
                        owner: { type: string }
                        dueDate: { type: integer }
                        frequency: { type: integer }
    post:
      operationId: addTask
      summary: Add one task
      description: Adds exactly one task. Use owner self unless the user explicitly says the task is shared.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, name]
              properties:
                type:
                  type: string
                  enum: [todo, repeating, contact, birthday]
                name:
                  type: string
                owner:
                  type: string
                  enum: [self, All]
                  default: self
                dueDate:
                  type: string
                  format: date
                  description: YYYY-MM-DD; required for todo or birthday.
                frequency:
                  type: integer
                  minimum: 1
                  description: Days between occurrences; required for repeating or contact.
      responses:
        '201':
          description: Task created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    patch:
      operationId: modifyTask
      summary: Modify one existing task
      description: Modify name, owner, due date, or frequency. Never delete tasks. Identify the task using an id returned by getDueTasks; if ambiguous, read once and ask the user rather than guessing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id, type]
              properties:
                id:
                  type: string
                type:
                  type: string
                  enum: [todo, repeating, contact, birthday]
                name:
                  type: string
                owner:
                  type: string
                  enum: [self, All]
                dueDate:
                  type: string
                  format: date
                  description: YYYY-MM-DD; valid only for todo or birthday.
                frequency:
                  type: integer
                  minimum: 1
                  description: Valid only for repeating or contact.
      responses:
        '200':
          description: Task modified
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    LyfeApiKey:
      type: apiKey
      in: header
      name: X-Lyfe-Key
